@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    min-height: 100vh;
}

.caption {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.img-main {
    width: 100%;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.author_img{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
}

.bg-img{
    background-image: url('../image/apple-computer.jpg');
    background-position: 100% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 405px;
}

.font_icons a:nth-child(1) {
    background: blue;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    padding-left: 8px;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.font_icons a:nth-child(2) {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    padding-left: 8px;
    align-items: center;
    margin-bottom: 5px;
    background: green;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.font_icons a:nth-child(3) {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    padding-left: 8px;
    align-items: center;
    margin-bottom: 5px;
    background: #DC3545;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.font_icons a:nth-child(4) {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    padding-left: 8px;
    align-items: center;
    margin-bottom: 5px; 
    background: #80d0c7;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.font_icons a:nth-child(5) {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    padding-left: 8px;
    align-items: center;
    background: #000;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.font_icons #a-fb:hover {
    width: 60%;
    transition: 0.3s linear;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.font_icons #a-wt:hover {
    width: 60%;
    transition: 0.3s linear;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.font_icons #a-in:hover {
    width: 70%;
    transition: 0.3s linear;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.font_icons #a-li:hover {
    width: 90%;
    transition: 0.3s linear;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.font_icons #a-gh:hover {
    width: 60%;
    transition: 0.3s linear;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#txt_name{
    display: none;
}

.font_icons a:hover #txt_name{
    display: block;
    transition: 1s linear;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.imgseprator {
    text-shadow: 2px 2px #303030;
}